@charset "utf-8"; /* allows direct embed of unicode characters in this file, not just \code points */

@import './basic.css';

/* TODO: SPLIT VIEW of edited content and preview; for wide monitors 
         - maybe also up/down for easier edits on not-wide screens? */

:root {
    --header-height: 25px;
    --footer-height: 20px;

    --page-spacing-left-right: 65px;
}

div[fullpage] {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

/* until ready, show nothing (else flashing) */
body[loading] { display: none; }

body[viewing] header { display: none; }
body[viewing] footer { display: none; }
body[viewing] main [editor] { display: none; }
body[editing] main [viewer] { display: none; }

/* SAVE/CANCEL buttons */
body[viewing]:not([pending-changes]) main [savecancel] { display: none; }
body[editing]:not([pending-changes]) main [savecancel] { visibility: hidden; }
body[editing][pending-changes] main [savecancel] { visibility: visible; }

/* toolbox buttons */
nav[toolbox] button[viewing], 
nav[toolbox] button[editing] { display: none; }
body[editing] nav[toolbox] button[editing] { display: block; }
body[viewing] nav[toolbox] button[viewing] { display: block; }

header {

    /* should only be used while editing? */

    background: yellow;
    height: var(--header-height);

    padding: 0 5px 0 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header a { margin-right: 20px; }
header[disabled] { display: none; }

footer {
    background: darkgreen;
    color: white;
    font-size: .9em;
    padding: 0 5px 0 5px;
    height: var(--footer-height);

    display: flex;
    flex-direction: row;
    align-items: center;
}

footer a { color: white; margin-right: 20px; }
footer span { flex: 1; text-align: right; }

main {
    flex: 1; /* myself: take up everything after header/footer */
    overflow: auto; /* constrains display to viewport, with a scrollbar if needed; else long page - overflow displayed */
    margin: 0;

    /* for my kids */
    display: flex;
    flex-direction: column;
}

main [viewer] {
    padding: 0 var(--page-spacing-left-right);

    flex: 1;
    overflow: auto;
}

main [editor] {
    flex: 1; /* myself */
    padding: 15px calc(var(--page-spacing-left-right) / 2) 10px var(--page-spacing-left-right);

    /* for my kids */
    display: flex;
    flex-direction: column;
}

main [savecancel] { /* save/cancel buttons area */
    display: flex;
    flex-direction: row;
    padding: 5px var(--page-spacing-left-right);
}

body[viewing] main [savecancel] {
    border-top: solid 1px red;
    background: darkorange;
}

main [savecancel] button {
    font-size: 1.2em;
    margin-right: 20px; 
}

button[save] { background: green; }
button[save]:after { content: "✓save" }
button[cancel] { background: red; }
button[cancel]:after { content: "✗cancel" }


/* nav would be better than div for the toolbox but the html5 hidden attribute 
   does not seem to work on the nav tag */

nav[toolbox] {
    position: fixed;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: calc(var(--page-spacing-left-right) - 9px);
    background: cadetblue;
    overflow: hidden;
    opacity: .2;
}

nav[toolbox][hidden] { 
    /* override most browsers' builtin implementation of: [hidden] { display: none; }
    from: https://allyjs.io/tutorials/hiding-elements.html#the-html5-hidden-attribute */
    display: none; 
}

nav[toolbox]:hover { opacity: 1; }

nav[toolbox] button {
    margin-bottom: 3px;
    background: blue;
    font-size: .8em;
}

nav[toolbox] button:last-child { margin-bottom: 0; }

xxxdiv.tooltip {
    background: black;
    color: white;
    padding: 8px;
    border-radius: 7px;
}

body div[fullpage] main div[viewer] {
    -webkit-app-region: drag;
}

div[sniffx] {
    position: fixed;
    right: 0;
    top: 50px;
    background: navajowhite;
    padding: 10px 7px 10px 9px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;    
    cursor: pointer;
    xxtransition: 2s ease-out, .5s ease-in;
    /* transitions: https://easings.net/en & https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
    transition: background-color .5s ease, max-width 2s ease-out, max-width .5s ease-in;
    max-width: 40px;
    white-space: nowrap;

    display: flex;
    align-items: center;

    overflow: hidden;
}

body[visible-scrollbar] div[sniffx] { right: 15px; }
div[sniffx][two] { top: 120px; }

/* \00a0 is non-breaking space for content */
/* edit pencil: 270e       270d 2699 270f  */
/*
    unicode charts:
    - https://en.wikibooks.org/wiki/Unicode/List_of_useful_symbols
    - https://tutorialzine.com/2014/12/you-dont-need-icons-here-are-100-unicode-symbols-that-you-can-use
    - https://graphemica.com/ [good one]
    - 
    - 
    - 

    settings: 2699 (gear, wrench)
    check mark: 2713 (cursive) 2714 (straight) 2705 (box) 2611 (box)

    duplicate: 2398 (next page but looks like what we want

    2630: hamburger

*/

div[sniffx]::before { 
    content: "\1f4dd"; 
    font-size: 1.85em; 
    xxtransform: rotate(90deg); 
    margin-right: 10px;
    xxdisplay: inline-block;
}

div[sniffx]:hover { 
    max-width: 100%;
    background: white;
}
