@charset "utf-8"; /* allows direct embed of unicode characters in this file, not just \code points */

@import './utils.css';

:root {
    --header-height: 25px;
    --footer-height: 20px;
}

* {
    box-sizing: border-box; /* important: full height is as per above; can now "hang" things off of header (e.g. toolbars) */
}

html, body {
    background: wheat;
    margin: 0;
    height: 100%;


}

div[fullpage] {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

/* various states of the page: nothing-to-show, editing/not, pending-changes/not */
body[nothing-to-show] header { display: none; }

body[editing] header [viewing] { display: none; }
body[editing] main [viewer] { display: none; }

/*body[editing][pending-changes] header [view-formatted] { display: none; }
 body[editing]:not([pending-changes]) header [save-or-cancel] { display: none; } */

body[editing]:not([pending-changes]) main [update] { visibility: hidden; }
body[editing][pending-changes] main [update] { visibility: visible; }

body:not([editing]) header [editing] { display: none; }
body:not([editing]) main [editor] { display: none; }

xxbody:not([editing])[pending-changes] main [update] { display: block; visibility: visible; }
body:not([editing]):not([pending-changes]) main [update] { display: none; }

body:not([editing])[pending-changes] header [code-editor] { display: none; }

header {
    background: yellow;
    height: var(--header-height);

    padding: 0 5px 0 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header a { margin-right: 20px; }
header[disabled] { display: none; }

footer {
    background: darkgreen;
    color: white;
    font-size: .9em;
    padding: 0 5px 0 5px;
    height: var(--footer-height);

    display: flex;
    flex-direction: row;
    align-items: center;
}

footer a { color: white; margin-right: 20px; }
footer span { flex: 1; text-align: right; }

main {
    flex: 1; /* myself: take up everything after header/footer */
    overflow: auto; /* constrains display to viewport, with a scrollbar if needed; else long page - overflow displayed */
    margin: 0;

    /* for my kids */
    display: flex;
    flex-direction: column;
}

main [viewer] {
    padding: 0 40px;

    flex: 1;
    overflow: auto;
}

main [editor] {
    flex: 1; /* myself */
    padding: 15px 40px 10px 40px;

    /* for my kids */
    display: flex;
    flex-direction: column;
}

main [update] {
    display: flex;
    flex-direction: row;
    padding: 5px 40px;
}

body:not([editing])[pending-changes] main [update] {
    border-top: solid 1px red;
    background: darkorange;
}

button {
    border: none;
    padding: 5px;
    cursor: pointer;
    color: white;
    xxmargin-top: 5px;
    font-size: 1.2em;
    outline: none;
    margin-right: 20px; 
}

button[save] { background: green; }
button[cancel] { background: red; }
