@charset "utf-8"; /* allows direct embed of unicode characters in this file, not just \code points */

/* UNICODE SEARCH, TABLES:
    http://www.fileformat.info/info/unicode/char/a.htm
    http://www.fileformat.info/info/unicode/char/search.htm

    https://dev.w3.org/html5/html-author/charref

    http://www.unicode.org/charts/
    https://en.wikipedia.org/wiki/List_of_Unicode_characters (many; most? all?)

    APPLE CMD: Miscellaneous Technical: U+2318 (2387)

    Miscellaneous Symbols
    2611  check mark
    2673-B for RECYCLING

    https://en.wikipedia.org/wiki/Dingbat

    https://www.toptal.com/designers/htmlarrows/symbols/

    http://www.fileformat.info/info/unicode/char/2750/index.htm
*/


[clipboard-utility] { 
    
    /* FRAGILE CODE: warning!
       - used for copy-to-clipboard feature (on click)
       - cannot use 'display: none;' because this prevents clipboard-copy feature (at least on chrome on mac)
        - this is likely a security feature; below is our alternative
       - also seems like 'border: none;' breaks it, so don't use it; 
        - might be that to be considered legitimate for clipboard operations, the textarea needs of non-zero size
    */

    position: absolute;
    left: -9999999px; /* way the fuck off broadway */
    width: 0; /* belt */
    height: 0; /* suspender */
    margin: 0; /* another belt */
    padding: 0; /* another suspender */
}

div[toaster] {
    display: none; /* in general */
    position: absolute;
}

div[toaster][showing] { 
    display: flex;
}

div[toaster][showing][page=top-right] { top: 20px; right: 20px; }
div[toaster][showing][page=top-left] { top: 20px; left: 20px; }
div[toaster][showing][page=bottom-right] { bottom: 20px; right: 20px; }
div[toaster][showing][page=bottom-left] { bottom: 20px; left: 20px; }

/* default is plain: change with .attribute parm when calling */

div[toaster][showing=plain] {
    display: flex;
    color: white;
    background: black;
    border-radius: 10px;
    padding: 10px;
}

div[toaster][showing=plain] span {
    align-self: center;
    font-size: .9em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-align: center;
}


a[back-to-top] { display: none; }
a[back-to-top]:after {
    content: ' \25b4';
}
body:not([editing])[scrolled] a[back-to-top] {
    display: block;
    position: fixed;
    right: 30px;
    bottom: calc(5px + var(--footer-height));
    padding: 10px;
    background: darkblue;
    color: white;
    border-radius: 50%;
    xopacity: .3;
}

