@charset "utf-8"; /* allows direct embed of unicode characters in this file, not just \code points */

@import './utils.css';

/* REALLY good read for calc: https://css-tricks.com/a-couple-of-use-cases-for-calc/ */
/* pick attribute from elements with attr(): https://developer.mozilla.org/en-US/docs/Web/CSS/attr */

* {
    /* So 100% means 100% 
       - makes it easier for placement in general: 
       - read: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    box-sizing: border-box;

    /* https://css-tricks.com/things-it-might-be-funuseful-to-try-the-universal-selector-on/ */
    /*transition: all 0.2s ease;*/
    background-repeat: no-repeat;
    /* position: relative; SCREWS UP OUR FLEX BOX DISPLAY on the main page*/ 
    /*vertical-align: middle;*/
}

html, body {
    /* Make the body to be as tall as browser window */
    height: 100%;
    background: wheat;
    margin: 0;
    padding: 0;
}

a { text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }

button {
    border: none;
    padding: 5px;
    cursor: pointer;
    color: white;
    outline: none;
}
