/* styles for markdown display */


[collapsed] { display: none; }

/* hint that <code> text can be clipboard-copied on click */
code:hover {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
}

code:hover::after { 
    content: " \2750";
}

div[tmp] pre { 
    white-space: pre-wrap;
}

div[md-doc] h1, div[md-doc] h2, div[md-doc] h3, div[md-doc] h4, div[md-doc] h5, div[md-doc] h6 {
    cursor: pointer;
}
 
div[md-doc] div[toc] {

    /* this is TOOLBOX: can be top/right 0 and be upper corner */
    /* need header height to allow for "hanging" toolbox e.g. for text-editor */


    position: fixed;
    right: 25px;
    top: 0; /*var(--header-height); */
    background: beige;
    padding: 8px; /*0 10px 15px 10px;*/

    border-radius: 0 0 5px 5px;
}

div[md-doc] div[toc][is-collapsed] {
    opacity: .65;
}
div[md-doc] div[toc][is-collapsed]:hover {
    opacity: 1;
}

div[md-doc] div[toc] a { 
    flex: 1;
    display: block; 
}

div[md-doc] div[toc] h2 { 
    cursor: pointer; 
    margin: 0 0 6px 0; 
    color: green;
    xxborder: none;

}
/*div[md-doc] div[toc] h2:hover:after {*/
div[md-doc] div[toc] h2:after {
    font-size: .7em;
    xcontent: ' \25B0 \25B1 \25B2 \25B3 \25B4 \25B5 \25B6 \25B7 \25B8 \25B9 \25BA \25Bb \25Bc \25Bd \25Be \25Bf'; /* \25B5 up arrow; also B4 for black: https://www.unicode.org/charts/PDF/U25A0.pdf */
    xcontent: ' \25aa'; /* \25B5 up arrow; also B4 for black: https://www.unicode.org/charts/PDF/U25A0.pdf */
}

div[md-doc] div[toc] h2:hover:after {
    content: ' \25aa'; /* \25B5 up arrow; also B4 for black: https://www.unicode.org/charts/PDF/U25A0.pdf */
}

div[md-doc] div[toc][is-collapsed] h2:after {
    content: ' \25BF'; /* same as BE but bordered only down arrow */
    content: ' \25B8'; /* \25B5 up arrow; also B4 for black: https://www.unicode.org/charts/PDF/U25A0.pdf */
}
div[md-doc] div[toc][is-collapsed] h2:hover:after {
    xcontent: ' \25BF'; /* same as BE but bordered only down arrow */
}

textarea[markdown-editor] {
    flex: 1; 
    font-family: monospace;
    resize: none;
    outline: none; /* no glowing outline on focus */
}


div[md-doc] div[toc] a[toc-0] { padding-left: 0; }
div[md-doc] div[toc] a[toc-1] { padding-left: 15px;}
div[md-doc] div[toc] a[toc-2] { padding-left: 30px;}
div[md-doc] div[toc] a[toc-3] { padding-left: 45px;}
div[md-doc] div[toc] a[toc-4] { padding-left: 60px;}
div[md-doc] div[toc] a[toc-5] { padding-left: 75px;}

div[md-doc] div[toc][is-collapsed] a { 
    display: none; 
}


div[viewer] p { margin: 4px 0 2px 0; }
div[viewer] h1 { font-size: 1.1em; }
div[viewer] h2 { 
    font-size: 1em; 
    border-bottom: solid 1px gray;
    margin-bottom: 5px;
}

div[viewer] ul { padding-left: 0; margin-top: 5px; }
div[viewer] ul ul { padding-left: 15px; }
div[viewer] ul ul ul { padding-left: 30px; }
div[viewer] ul ul ul ul { padding-left: 45px; }
div[viewer] ul ul ul ul ul { padding-left: 60px; }
